<ion-view view-title="Contacts">
  <ion-content>

  <div class="card">
  <div class="item item-text-wrap">
   Une question à poser ? Une suggestion à donner ? Un bug à signaler ? utiliser l'une des options ci-dessous pour nous contacter au biclocale@gmail.com 
  </div>
</div>

    <div class="list card">

		  <a class="item item-icon-left" ng-click="shareQuestion()" >
		    <i class="icon icon-color ion-help-circled"></i>
		    Poser une question
		  </a>

		  <a class="item item-icon-left" ng-click="shareSuggestion()" >
		    <i class="icon icon-color ion-ios-lightbulb"></i>
		    Soumettre une idée
		  </a>

		  <a class="item item-icon-left" ng-click="shareBug()" >
		    <i class="icon icon-color ion-bug"></i>
		    Signaler un bug
		  </a>

		  
</div>
  </ion-content>
</ion-view>
