<ion-view view-title="Search">
  <ion-content>

  <div class="card">
  <div class="item item-text-wrap">
    Vous pouez nous contacter sur ces numero ci-dessous
  </div>
</div>
    <div class="list list-inset">

    <a class="item item-avatar" href="#/app/phone">
      <img src="img\tigo.png">
      <h2 style="color: #3941D5;">Tigo</h2>
      <h3>764523103</h3>  
    </a>
	<a class="item item-avatar" href="#/app/phone">
	      <img src="img\expresso.png">
	      <h2 style="color: #9B76B0;">Expresso</h2>
	      <h3>703465492</h3>  
    </a>
	<a class="item item-avatar" href="#/app/phone">
	      <img src="img\orange.png">
	      <h2 style="color: #FB7107;">Orange</h2>
	      <h3>773465492</h3>  
	</a>

    
</div>
  </ion-content>
</ion-view>
